html {

}
body {
	font-family: Roboto;
	padding: 0;
	margin: 0; 

}
header {
	background: url("Rectangle 2.png");
	width: 100%;
	height: 620px;
}
ul {
    display: flex;
    background: #2F343A;
    float: right;
    width: 100%;
    height: 100px;
    margin-top: 0px;
}
ul li {
    list-style-type: none;
    margin-left: 30px;
    padding-top: 32px;
}
ul a:hover {
	color: #C8A35F;
}
ul a {
	font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.05em;
text-transform: uppercase;
text-decoration: none;
color: #FFFFFF;
transition: 0.5s;
}
.logo img {
	padding-top: 23px;
    padding-left: 400px;
}
.border {
    border: 1px solid #F2F2F2;
    transform: rotate(90deg);
    width: 52px;
    float: right;
    margin-top: 42px;
}
header {
    margin-top: -45px;
}
header h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 300px;
}
header p {
	/* p > h1, h2 */

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 28px;
text-align: center;

/* White */

color: #FFFFFF;
}
#section-second {
    height: 500px;
    background-color: #2F343A;
    margin-top: -40px;
}
section {
    background-color: #2F343A;
    height: 1071px;
}
#four {
		background-color: #2F343A;
}
.frame-1 {
    width: 476px;
    height: 499px;
    background: #393F47;
}
.frame-2 {
    width: 476px;
    height: 499px;
    background: #393F47;
    float: right;
    margin-top: -499px;
}

.border-1 {
    background: #C8A35F;
    width: 70px;
    height: 4px;
    margin-left: 75px;
    position: absolute;
    top: 708px;
}
.conteiner {

}
.frame-1-h1 {
    font-family: Roboto;
    font-style: unset;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 75px;
    padding-top: 105px;
}
.frame-1-p {
    font-family: Roboto;
    font-style: unset;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    margin-left: 75px;
    margin-top: -15px;
}
.btn-frame-1 {
    width: 220px;
    height: 55px;
    margin-left: 79px;
    background: #C8A35F;
     transition: 1s;
     cursor: pointer;
}
.btn-frame-1 p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 15px;

}
.btn-frame-1:hover {
	background: #ffa500;
}
#car {
    margin-top: 156px;
}
.border-2 {
    width: 90px;
    height: 6px;
    background: #C8A35F;
    margin-left: 79px;
    position: absolute;
    top: 1177px;
}
.serv-row-1 img {
	padding: 0;
	margin: 0;
}
.serv {
	    margin-top: -74px;
}
.serv-row-1 img:first-child {
	margin-top: 150px;
    margin-left: 80px;
}
.serv-row-1 img:hover {
	background: #C8A35F;
}
.serv-row-2 img:first-child {
	
    margin-left: 80px;
}
#serv-img {
	margin-left: 76px;
    padding-top: 90px;

}
.border-3 {
    width: 90px;
    height: 6px;
    background: #C8A35F;
    margin-left: 79px;
  
}
#h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 78px;
    margin-top: 103px;
}
#p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    margin-left: 81px;
    color:#fff;
    }
.about  {
	display: flex;
}
.white-cube {
	width: 200px;
height: 160px;
background: #FFFFFF;
/* Gold */

border: 0.25px solid #C8A35F;
box-sizing: border-box;

}

footer {
    width: 100%;
    height: 450px;
    background: url(maps.png);
}
.down {
    width: 100%;
    height: 161px;
    background: #C8A35F;
    position: absolute;
    top: 2488px;
}
.down img {
	margin-top: 59px;
    margin-left: 423px;
}
#adress {
	float: right;
    margin-top: 65px;
    margin-right: 387px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #F2F2F2;
    opacity: 0.8;
}
#mail {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #2F343A;
    float: right;
    margin-top: -26px;
    margin-right: 577px;
}
#number {
    float: right;
    margin-right: -500px;
    margin-top: -40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #F2F2F2;
}
/*  				media   			    */

@media screen and (max-width: 575px) {


	
}


@media screen and (max-width: 767px) {

}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 1199px) {
.serv-row-1 img:last-child {
	display: none;
}
.serv-row-2 img:last-child {
	display: none;
}
.down {

    display: none;
}
.logo img {
    padding-top: 23px;
    padding-left: 100px;
}
}

@media screen and (max-width: 1200px) {
	#adress {
    float: right;
    margin-top: 67px;
    margin-right: 319px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #F2F2F2;
    opacity: 0.8;
}
#mail {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #2F343A;
    float: right;
    margin-top: -26px;
    margin-right: 508px;
}
#number {
    float: right;
    margin-right: -500px;
    margin-top: -49px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #F2F2F2;
}
}









